In [1]:
import pandas as pd

In [2]:
pd.__version__

'2.2.3'

In [3]:
import os

# List all files and directories
files = os.listdir('.')
print(files)

['yellow_trip_data_oct_2025.parquet', '.ipynb_checkpoints', 'homework.ipynb']

In [4]:
df = pd.read_parquet("./yellow_trip_data_oct_2025.parquet")

In [5]:
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee,cbd_congestion_fee
0,1,2025-10-01 00:15:32,2025-10-01 01:04:03,1.0,17.20,2.0,N,132,107,1,70.0,5.00,0.5,0.00,6.94,1.0,83.44,2.5,1.75,0.75
1,7,2025-10-01 00:00:08,2025-10-01 00:00:08,1.0,5.00,1.0,N,107,225,1,28.2,0.00,0.5,8.49,0.00,1.0,42.44,2.5,0.00,0.75
2,2,2025-10-01 00:08:54,2025-10-01 00:14:44,1.0,2.75,1.0,N,263,229,1,12.8,1.00,0.5,3.71,0.00,1.0,22.26,2.5,0.00,0.75
3,1,2025-10-01 00:58:48,2025-10-01 01:04:40,1.0,1.30,1.0,N,211,231,2,7.9,4.25,0.5,0.00,0.00,1.0,13.65,2.5,0.00,0.75
4,2,2025-10-01 00:39:51,2025-10-01 00:49:40,1.0,2.88,1.0,N,230,151,1,14.2,1.00,0.5,3.99,0.00,1.0,23.94,2.5,0.00,0.75

In [6]:
import sklearn

In [7]:
sklearn.__version__

'1.6.1'

In [8]:
df['duration'] = df.tpep_dropoff_datetime - df.tpep_pickup_datetime

In [9]:
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,...,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee,cbd_congestion_fee,duration
0,1,2025-10-01 00:15:32,2025-10-01 01:04:03,1.0,17.20,2.0,N,132,107,1,...,5.00,0.5,0.00,6.94,1.0,83.44,2.5,1.75,0.75,0 days 00:48:31
1,7,2025-10-01 00:00:08,2025-10-01 00:00:08,1.0,5.00,1.0,N,107,225,1,...,0.00,0.5,8.49,0.00,1.0,42.44,2.5,0.00,0.75,0 days 00:00:00
2,2,2025-10-01 00:08:54,2025-10-01 00:14:44,1.0,2.75,1.0,N,263,229,1,...,1.00,0.5,3.71,0.00,1.0,22.26,2.5,0.00,0.75,0 days 00:05:50
3,1,2025-10-01 00:58:48,2025-10-01 01:04:40,1.0,1.30,1.0,N,211,231,2,...,4.25,0.5,0.00,0.00,1.0,13.65,2.5,0.00,0.75,0 days 00:05:52
4,2,2025-10-01 00:39:51,2025-10-01 00:49:40,1.0,2.88,1.0,N,230,151,1,...,1.00,0.5,3.99,0.00,1.0,23.94,2.5,0.00,0.75,0 days 00:09:49

In [10]:
df.duration = df.duration.apply(lambda t: t.total_seconds() / 60)

In [11]:
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,...,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee,cbd_congestion_fee,duration
0,1,2025-10-01 00:15:32,2025-10-01 01:04:03,1.0,17.20,2.0,N,132,107,1,...,5.00,0.5,0.00,6.94,1.0,83.44,2.5,1.75,0.75,48.516667
1,7,2025-10-01 00:00:08,2025-10-01 00:00:08,1.0,5.00,1.0,N,107,225,1,...,0.00,0.5,8.49,0.00,1.0,42.44,2.5,0.00,0.75,0.000000
2,2,2025-10-01 00:08:54,2025-10-01 00:14:44,1.0,2.75,1.0,N,263,229,1,...,1.00,0.5,3.71,0.00,1.0,22.26,2.5,0.00,0.75,5.833333
3,1,2025-10-01 00:58:48,2025-10-01 01:04:40,1.0,1.30,1.0,N,211,231,2,...,4.25,0.5,0.00,0.00,1.0,13.65,2.5,0.00,0.75,5.866667
4,2,2025-10-01 00:39:51,2025-10-01 00:49:40,1.0,2.88,1.0,N,230,151,1,...,1.00,0.5,3.99,0.00,1.0,23.94,2.5,0.00,0.75,9.816667

In [12]:
df = df[(df.duration >= 1)]

In [13]:
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,...,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee,cbd_congestion_fee,duration
0,1,2025-10-01 00:15:32,2025-10-01 01:04:03,1.0,17.20,2.0,N,132,107,1,...,5.00,0.5,0.00,6.94,1.0,83.44,2.5,1.75,0.75,48.516667
2,2,2025-10-01 00:08:54,2025-10-01 00:14:44,1.0,2.75,1.0,N,263,229,1,...,1.00,0.5,3.71,0.00,1.0,22.26,2.5,0.00,0.75,5.833333
3,1,2025-10-01 00:58:48,2025-10-01 01:04:40,1.0,1.30,1.0,N,211,231,2,...,4.25,0.5,0.00,0.00,1.0,13.65,2.5,0.00,0.75,5.866667
4,2,2025-10-01 00:39:51,2025-10-01 00:49:40,1.0,2.88,1.0,N,230,151,1,...,1.00,0.5,3.99,0.00,1.0,23.94,2.5,0.00,0.75,9.816667
5,1,2025-10-01 00:30:54,2025-10-01 00:37:50,1.0,1.60,1.0,N,237,142,2,...,3.50,0.5,0.00,0.00,1.0,14.30,2.5,0.00,0.00,6.933333